gm
OBJ/*
EXAMPLES/*
BACKUP/*
TESTS/
*.mod
*.o
*.f90#
*.f90~
SOURCE/*.f_*
SOURCE/*.f90_*
SOURCE/list_changes.txt
./prdmft.exe
gammcor
test.out

# XCFun
xcfun/fortran/xcfun.mod
xcfun/fortran/xcfun_autogen.mod
xcfun/include/xcfun_autogen.h
xcfun/fortran/xcfun_autogen.f90
xcfun/lib/libxcfun.*
xcfun/**/*.o

build/
xcfun/geninterface
SOURCE/trexio_f.f90
trexio/*.so*
clean-build-test.sh

TO-DO-LIST

code_verify.py_old
